################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectConc/.vs/ProjectConc/v15/Server/sqlite3
